<ul id="tab" class="nav nav-tabs">
	<li role="presentation" class="active"><a>Home</a></li>
	<li role="presentation"><a>Profile</a></li>
	<li role="presentation"><a>Messages</a></li>
</ul>
<div for="table" class="">
	<div class="row" style="margin-top: 10px">
		<div tables class="col-lg-12">
			<!--<table id="mmk" class="table"></table>-->
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12" style="text-align:right; display: none;">
			<form class="form-group form-group-sm" todo="" style="text-align:left;">
				<h1 style="margin-top: -10px; margin-bottom: 20px;">New Product</h1>
				<input type="text" name="id_product" class="form-control" placeholder="Code">
				<input type="text" name="name" class="form-control" placeholder="Name">
				<input type="number" name="purchase_price" class="form-control" placeholder="Purchase Price">
				<input type="number" name="sales_price" class="form-control" placeholder="Sales Price">
				<!--<select multiple="multiple" size="50" name="duallistbox">
					<option value="option1">Option 1</option>
					<option value="option2">Option 2</option>
					<option value="option3" selected="selected">Option 3</option>
					<option value="option4">Option 4</option>
					<option value="option5">Option 5</option>
					<option value="option6" selected="selected">Option 6</option>
					<option value="option7">Option 7</option>
					<option value="option8">Option 8</option>
					<option value="option9">Option 9</option>
					<option value="option0">Option 10</option>
				</select>-->
			</form>
			<button todo="cancel" class="btn btn-default">Cancel</button>
			<button type="reset" class="btn btn-warning">Reset</button>
			<button todo="submit" class="btn btn-success">Submit</button>
		</div>
	</div>
</div>
<div for="component" style="display: none">
	<div class="row" style="margin-top: 10px">
		<div class="col-lg-12">
			<h2>Waiting..</h2>
			<form class="form-group form-group-sm input-group-lg">
				<div>asdasd</div>
				<div>asdasd</div>
				<div>asdasd</div>
				<div>asdasd</div>
			</form>
			<div footer></div>
		</div>
	</div>
</div>
<script type="application/javascript" src="./app/control/i-barang.js"></script>