<div id="containerSearch" class="panel-group">
	<h1>Stock Barang</h1>
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h4 class="panel-title">
				Panel<a data-toggle="collapse" data-target="[panel='1']"></a>
			</h4>
		</div>
		<div panel="1" class="panel-collapse collapse in">
			<div id="containerTable" class="panel-body">
				<!-- programaticly -->
			</div>
		</div>
		<div class="panel-footer text-right">
			<form role="form" class="form-inline">
				<div class="form-group">
					<input id="inputDate" type="text" class="form-control datepicker" placeholder="Tanggal">
					<input id="btnSearch" type="button" class="btn btn-success form-control" style="margin-bottom: 6px" value="Cari">
				</div>
			</form>
		</div>
	</div>
</div>
<script type="application/javascript" src="./app/control/i-stockbarang.js"></script>